name: CI with Maven ArtifactsS

on:
  workflow_dispatch:

env:
  JAVA_VERSION: '21'
  JAVA_DISTRO: 'oracle'

jobs:
  first-job:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5.1.0
        with:
          distribution: ${{ env.JAVA_DISTRO }}
          java-version: ${{ env.JAVA_VERSION }}
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Upload Maven Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: io-helidon-maven-artifacts
          path: ~/.m2/repository/io/helidon
          retention-days: 1
  second-job:
    needs: first-job
    runs-on: ubuntu-24.04
    steps:
      - name: Download Maven Artifacts
        uses: actions/download-artifact@v7
        with:
          name: io-helidon-maven-artifacts
          path: ~/.m2/repository/io/helidon
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5.1.0
        with:
          distribution: ${{ env.JAVA_DISTRO }}
          java-version: ${{ env.JAVA_VERSION }}
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
